# 50 Tricks of Pandas

# 1. Import Pandas and check the version

In [18]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.1'

# 2. Create a Serise from dataframe

In [7]:
array = [0,1,2,3,4]
df = pd.Series(array)
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

# 3. Create a Serise from dictionary

In [8]:
d = {'a':1,'b':2, 'c':3, 'd':4, 'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

# 4. From NumPy to create Dataframe

In [17]:
dates = pd.date_range('today',periods = 6)
num_arr = np.random.randn(6,4)
columns = ['A','B','C','D']
df1 = pd.DataFrame(num_arr, index = dates, columns = columns)
df1
#Tips
## np.random.randn()方差为1 的正态分布
## np.random.rand(X) Range [0,X) random value
## np.random.randint(low, high, size, type)

                                   A         B         C         D
2020-08-02 12:06:00.784542 -0.117621 -0.043468  0.806161 -1.087460
2020-08-03 12:06:00.784542  1.839975  0.234086  1.123142 -0.398083
2020-08-04 12:06:00.784542  0.725524 -0.757003 -0.726282 -0.453350
2020-08-05 12:06:00.784542  0.402462 -0.888798 -1.927774 -0.129998
2020-08-06 12:06:00.784542  0.254635 -0.301901 -0.114270  0.514685
2020-08-07 12:06:00.784542  0.874661  1.404223 -0.073318 -1.790253

## 5. From CSV to create DataFrame, seperate by; typing is gbk

In [19]:
df = pd.read_csv('test.csv', encoding = 'gbk', sep = ';')

FileNotFoundError: [Errno 2] No such file or directory: 'test.csv'

## 6. Create a DataFrame using dict, set index = lables

In [33]:
data = {'animal': ['cat','cat','snake','dog','dog','cat','snake','cat','dog','dog'],
       'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
       'visits': [1, 3, 2, 3, 2, 3,1, 1,2,1],
       'priority':['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
lables = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [34]:
df = pd.DataFrame(data, index = lables)

df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

## 7. Show the basic information of DataFrame, including number of rows and columns;
##     Name of columns; Numbers, types of values on each Columns.

In [37]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

## 8. Show the frist 3 rows of dataframe

In [40]:
df.iloc[:3]
df.head(3)#Same of R

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

## 9. Extract animal and age from df

In [43]:
df.loc[:, ['animal', 'age']]
#df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

## 10. Extract animal and age from row[3,4,8]

In [45]:
df.loc[df.index[[3,4,8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0