# 50 Tricks of Pandas

# 1. Import Pandas and check the version

In [43]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.1'

# 2. Create a Serise from dataframe

In [44]:
array = [0,1,2,3,4]
df = pd.Series(array)
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

# 3. Create a Serise from dictionary

In [45]:
d = {'a':1,'b':2, 'c':3, 'd':4, 'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

# 4. From NumPy to create Dataframe

In [46]:
dates = pd.date_range('today',periods = 6)
num_arr = np.random.randn(6,4)
columns = ['A','B','C','D']
df1 = pd.DataFrame(num_arr, index = dates, columns = columns)
df1
#Tips
## np.random.randn()方差为1 的正态分布
## np.random.rand(X) Range [0,X) random value
## np.random.randint(low, high, size, type)

                                   A         B         C         D
2020-08-04 18:55:04.389502  0.403655 -1.681302 -0.355743 -0.206129
2020-08-05 18:55:04.389502 -0.520124  1.880385 -1.426706 -0.123773
2020-08-06 18:55:04.389502  0.161538 -0.555056  0.105245 -1.580407
2020-08-07 18:55:04.389502  0.237442 -0.999914  0.496535  1.101872
2020-08-08 18:55:04.389502  0.551518  0.321008 -0.333941 -2.155580
2020-08-09 18:55:04.389502 -0.040430 -0.386321 -1.961653 -0.233837

## 5. From CSV to create DataFrame, seperate by; typing is gbk

In [47]:
df = pd.read_csv('test.csv', encoding = 'gbk', sep = ';')

FileNotFoundError: [Errno 2] No such file or directory: 'test.csv'

## 6. Create a DataFrame using dict, set index = lables

In [48]:
data = {'animal': ['cat','cat','snake','dog','dog','cat','snake','cat','dog','dog'],
       'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
       'visits': [1, 3, 2, 3, 2, 3,1, 1,2,1],
       'priority':['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
lables = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [49]:
df = pd.DataFrame(data, index = lables)

df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

## 7. Show the basic information of DataFrame, including number of rows and columns;
##     Name of columns; Numbers, types of values on each Columns.

In [50]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

## 8. Show the frist 3 rows of dataframe

In [51]:
df.iloc[:3]
df.head(3)#Same of R

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

## 9. Extract animal and age from df

In [52]:
df.loc[:, ['animal', 'age']]
#df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

## 10. Extract animal and age from row[3,4,8]

In [53]:
df.loc[df.index[[3,4,8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

## 11. Extract age>3 in each row

In [54]:
df[df['age'] > 3]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

## 12. Extract age=nan in each row

In [55]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

## 13. Extract age = (2,4) in each row

### 1

In [56]:
df[(df['age'] > 2) & (df['age'] < 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

### 2

In [57]:
df[df['age'].between(2, 4, inclusive = False)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

#### In fuction .between(start, end, inclusive = True / False) 
##### Ref: https://www.geeksforgeeks.org/python-pandas-series-between/

## 14. Change age to 1.5 on row 'f'.

In [58]:
df.loc['f', 'age'] = 1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### Tips: Access a group of rows and columns by label(s) or a boolean array.

## 15 Calculate the sum of visits

In [59]:
df['visits'].sum()

19

## 16. Calculate the mean of age in all kinds of animals

In [60]:
df.groupby('animal') ['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

## 17. Calculate the numbers of all animals

In [61]:
df['animal'].value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

## 18. Sort with age, then up with visits

In [62]:
df.sort_values(by=['age','visits'], ascending = [False,True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

## 19. Replace yes and no by true and false in priority

In [63]:
df['priority'] = df['priority'].map({'yes':True, 'no':False})
df

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

## 20. Replace snake by python in animal

In [65]:
df['animal'] = df['animal'].replace('snake','python')
df

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False